


	<!--Content-->
			<p>
				<%=image_tag "traduction.gif", :class => "left"%>
				 Soldats tu&eacute;s en Afghanistan, enfants morts dans un incendie &agrave; Saint-Denis, fermetures d'entreprises - ou de certains de leurs sites -, centaines de ch&ocirc;meurs en plus (SeaFrance ou Cofinoga), naufrage en Italie, r&eacute;pression encore et encore en Syrie, nous savons h&eacute;las que le flux de mauvaises nouvelles &eacute;clipse souvent les raisons de se r&eacute;jouir, et que les missions risqu&eacute;es des troupes fran&ccedil;aises en Afghanistan masquent la fiert&eacute; tricolore d'avoir Jean Dujardin, favori aux Oscars.

&quot;La vie est une com&eacute;die italienne&quot; r&eacute;p&egrave;te depuis des ann&eacute;es Guy Bedos dans ses spectacles, reprenant l&agrave; un th&egrave;me cher &agrave; Fellini : la vie, la mort se fr&ocirc;lent tous les jours au rythme o&ugrave; s'&eacute;gr&egrave;ne l'actualit&eacute;.
Les organes de presse meurent aussi, et c'est toujours un recul de la d&eacute;mocratie. Ils ne sont pas les seuls lieux o&ugrave; le d&eacute;bat peut &eacute;clore, mais qui peut nier qu'ils en font partie ? Alors, quand na&icirc;t un nouveau projet &eacute;ditorial, savourons au moins quelques instants la petite pierre apport&eacute;e au maintien d'une d&eacute;mocratie pluraliste.

C'est en tout cas notre conception, celle qui rassemble l'&eacute;quipe qui a choisi de se consacrer &agrave; ce projet : cr&eacute;er Le Huffington Post en France, qui se r&eacute;jouit aujourd'hui d'apporter son modeste caillou &agrave; la pluralit&eacute; de l'information.
The Huffington Post a su, depuis sept ans, faire souffler sur la presse am&eacute;ricaine en ligne un air de libert&eacute;, de controverses, de &laquo; conversations &raquo;, mot cher aux Am&eacute;ricains, qui signifie d'abord &eacute;changes d'id&eacute;es, discussions, d&eacute;bats. Arianna Huffington, la fondatrice de ce qui est devenu le premier site de news aux Etats-Unis nous apporte son savoir-faire, son exp&eacute;rience, sa plate-forme, ses outils technologiques. Les autres actionnaires, le groupe Le Monde et les Nouvelles Editions Ind&eacute;pendantes nous donnent aussi la chance de cette aventure fran&ccedil;aise.

Saisissons-la pour faire vivre ce nouveau media, qui sera largement consacr&eacute; au d&eacute;bat.
Celui-ci est partout dans la soci&eacute;t&eacute; fran&ccedil;aise aujourd'hui, et nourrit les colonnes de journaux prestigieux et de sites d'information cr&eacute;&eacute;s avant nous.
Mais ouvrons encore plus grandes les fen&ecirc;tres, contribuons &agrave; animer le d&eacute;bat public. &Agrave; ceux qui disent qu'il se r&eacute;tr&eacute;cit parfois, nous voulons r&eacute;pondre qu'aux c&ocirc;t&eacute;s de nos confr&egrave;res dont c'est aussi l'obsession, nous allons en &eacute;largir l'espace, fournir des lieux d'expression &agrave; ceux qui n'y ont pas acc&egrave;s facilement.
			</p>

