	    <div id="header" class="span-9">
          <%=image_tag "valentine.gif", :class => "left"%>
        </div>
		<div class="span-15 last">
		<h1>Lolo traduction</h1>
		
			<% flash.each do |key, value| %>
			  <div class="<%= key %>"><%= value %></div>
			<% end %> 
		
		</div>
		
        <hr />
        <div id="subheader" class="span-24 last">
          <h3 class="alt">Traductions, Compte rendu de r&eacute;union, expertise faite confiance &agrave; Lolo Traduction !</h3>
        </div>
        <hr />